@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #213555;
}

.container {
  text-align: center;
  background-color: #F8FAFC;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px (0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  border: 2px solid #BCCCDC ;
}

p {
    color: rgb(49, 49, 49);
    font-size: 1.1em;
}

h1 {
    color: rgb(49, 49, 49);
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #9AA6B2;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: rgb(49, 49, 49);
    box-shadow: inset 0 2px 4px rgba(22, 22, 22, 0.3);
}

button {
    background-color: #3E5879;
    color: #F8FAFC;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #2a3e58;
}

button.remover {
    background-color: rgb(151, 29, 29);
    padding: 5px 5px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

button.remover:hover {
    background-color: rgb(179, 27, 27);

}

button.editar {
    background-color: #9AA6B2;
    padding: 5px 5px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

button.editar:hover {
    background-color: #98b1cc;
}

#buttonLimpar {
    background-color: #9AA6B2;
    color: #213555;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttonLimpar:hover {
    background-color: #98b1cc;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
ul li {
    background-color: #3E5879;
    color: #F8FAFC;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}